@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: dark; /* You are forced to use dark mode. This is good for you, I promise */
    --background: #272932;
    --foreground: #e7ecef;
    --accent: #f05d5e;
    --accent-alt: #0f7173;
    --poop: #d8a47f;

}

body {
    background-color: var(--background); 
    color: var(--foreground);
    margin: 0;
    padding: 0;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0
}
.logo {
    font-size: 2em;
    margin: 10px;
    padding: 2px 10px;
    text-align: center;
    border-bottom: 2px solid var(--accent);
}

.navlinks {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
    padding: 2px 8px;
    color: var(--foreground);
    border-bottom: 2px solid transparent;

}
nav a:hover {
    border-bottom: 2px solid var(--accent);
}
canvas {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
}
.overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 249px 0px #000000;
}

.hero {
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}

.container-for-hero-container {
    display: flex;
    width: 100%;
    gap: 25px;
    flex-wrap: wrap;
}
.hero-container {
    border: 1px solid #444653;
    padding: 35px;
    border-radius: 15px;
    background-color: #0c0d0f33;
    backdrop-filter: blur(3px);
}
@media only screen and (max-width: 767px) {
    nav {
        backdrop-filter: blur(5px);
    }
    .hero {
        margin-top: 100px;
        align-items: center;
        justify-content: center;
    }
    .container-for-hero-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-container {
        max-width: 80%;
    }
    .navlinks {
        display: none;
    }
    .hljs {
        padding: 15px !important;
    }
}
@media only screen and (min-width: 768px) {
    .hero {
        margin-left: 75px;
        height: 100dvh;
    }
    .hero-container {
        max-width: 700px;
    }
    .container-for-hero-container {
        gap: 55px;
    }
    .hljs {
        padding: 35px !important;
    }
}

.hero h1, .hero h2 {
    margin: 0;
    font-weight: normal;
    padding: 0;
}
.hero .greeting {
    font-size: 4em;
    margin-bottom: 5px;
}

.self-cert {
    padding: 0.5px 1px;
    border-bottom: 2px solid var(--accent-alt);
}
.vibecoder {
    padding: 0.5px 1px;
    border-bottom: 2px solid var(--accent);
}
.hero li {
    font-size: 1.1em;
    margin: 4px;
}
.define {
    cursor: pointer;
}


.code-item {
    padding: 15px;
}
.hljs {
    
    border: 1px solid #444653;
    border-radius: 15px;
    background: #0c0d0f33 !important;
    background-color: #0c0d0f33;
    backdrop-filter: blur(3px);

}
.language-js {
    padding: 50px;
}
